<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layout}">
    <head>
        <title>Cadastrar Endereço</title>
    </head>
    <body>
        <!-- Navigation -->
        <div class="container" layout:fragment="corpo">
            <div class="row">
                <div class="col-12">
                    <h2>Cadastrar Endereço</h2>
                </div>
                <div class="col-12">
                    <form action="/cliente/endereco/salvar" th:object="${endereco}" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cep">Digite o CEP</label> <input type="text" required
                                                                             class="form-control" id="cep" placeholder="Apenas Números"
                                                                             autofocus="autofocus" th:field="*{cep}" value="" />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="logradouro">Logradouro</label> <input type="text" required
                                                                                  class="form-control" id="logradouro" placeholder="Rua ..."
                                                                                  autofocus="autofocus" th:field="*{logradouro}" value="" />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="numero">Número</label> <input type="number" required
                                                                          class="form-control" id="numero" placeholder="123"
                                                                          autofocus="autofocus" th:field="*{numero}" value="" />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="bairro">Bairro</label> <input type="text" required
                                                                          class="form-control" id="bairro" placeholder="Bairro"
                                                                          autofocus="autofocus" th:field="*{bairro}" value="" />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cidade">Cidade</label> <input type="text" required
                                                                          class="form-control" id="cidade" placeholder="Cidade"
                                                                          autofocus="autofocus" th:field="*{cidade}" value="" />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cidade">Estado</label> <input type="text" required
                                                                          class="form-control" id="estado" placeholder="Estado"
                                                                          autofocus="autofocus" th:field="*{estado}" value="" />
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <input type="hidden" id="id" th:field="*{id}" value="" />
                        <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
