<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{cliente/fragments/layout}">
    <head>
        <title>Login Cliente</title>
    </head>
    <body>
        <div class="container" layout:fragment="corpo">
            <div class="row">
                <div class="col-12">
                    <form action="/finalizar/login" method="POST">
                        <div class="form-row">
                            <div class="col-12">
                                <h2>Login</h2>
                            </div>
                            <div class="form-group col-md-12">
                                <label >Email</label> <input type="email" required name="username"
                                                             class="form-control"  placeholder="Email"
                                                             autofocus="autofocus"  value="" />
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="form-group col-md-12">
                                <label >Senha</label> <input type="password" name="password" required
                                                             class="form-control" placeholder="Senha"
                                                             autofocus="autofocus" value="" />
                                <div class="invalid-feedback"></div>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-primary btn-sm">Efetuar Login</button>
                    </form>
                    <div class="row">
                        <div class="col-sm-12  col-md-6">
                            <a class="btn btn-secondary btn-sm" href="/cliente/cadastrar" role="button">Crie sua conta na Eletro Store</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </body>
</html>
